<div class="navbar">
<span>
    <a id="logo" href="/about">
        Mongo Scraper
    </a>
</span> |
<span>
    <a id="home" href="/">
        Home
    </a>
</span> |
<span>
    <a id="saved" href="/saved">
        Saved articles
    </a>
</span> |

<span>
    <button id="scrape" onclick="scrape()">Scrape New Articles</button>
</span>
<script>
    scrape = () => {
$.get( "/scrape", function( data ) {
  alert( "Scraping" + data);
});
    } 
</script>
<style>
    .navbar{
        background-color: #3b93f9;
        height: 80px;
    }
    #logo, #home, #saved, #scrape{
        color: white;
        font-style: bold;
        font-size: 16pt;
        text-decoration: none;
    }
    #scrape{
          background-color: red; 

    }
</style>
</div>